@import './styles/reset';

@font-face {
  font-family: MoonRegular;
  src: url('/static/fonts/moon/Moon2.0-Regular.otf') format('opentype');
}

@font-face {
  font-family: MoonBold;
  src: url('/static/fonts/moon/Moon2.0-Bold.otf') format('opentype');
}

@font-face {
  font-family: MoonLight;
  src: url('/static/fonts/moon/Moon2.0-Light.otf') format('opentype');
}

@font-face {
  font-family: LoraCyrillicRegular;
  src: url('/static/fonts/lora-cyrillic/Lora-Regular.otf') format('opentype');
}

body {
  line-height: 16px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body,
input,
textarea {
  color: #444;
  font-family: LoraCyrillicRegular, sans-serif;
  font-size: 12px;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  outline: 0;
  transition: border linear .15s, box-shadow linear .15s;

  &:focus {
    border: 1px solid rgba(82, 168, 236, .8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
  }
}
