:local(.container) {
  margin-bottom: 40px;
  position: relative;

  &:hover :local(.selectButton) {
    clip: auto;
    height: auto;
    overflow: visible;
  }
}

:local(.entry) {
  cursor: pointer;
}

:local(.selectButton) {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  &:focus {
    clip: auto;
    height: auto;
    overflow: visible;
  }
}

:local(.date) {
  color: #676767;
  font-size: 11px;
}
