:local(.container) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

:local(.textInput) {
  flex: 1;
  resize: vertical;
}

:local(.footer) {
  display: flex;
  justify-content: space-between;
}
