:local(.container) {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100vh;
  grid-template-areas:
    "nav main";
}

:local(.main) {
  grid-area: main;
  height: 100vh;
}

:local(.formContainer) {
  height: 100%;
}

:local(.nav) {
  background: #e4e4e4;
  border-right: 1px solid #b7b7b7;
  grid-area: nav;
}

:local(.navCreateButtonContainer) {
  border-bottom: 1px solid #b7b7b7;
  display: flex;
  justify-content: center;
  padding: 5px;
}

:local(.navBarLink) {
  align-items: center;
  border-bottom: 1px solid #b7b7b7;
  color: #4c4c4c;
  display: flex;
  min-height: 30px;
  padding: 0 5px;

  &:hover {
    background: white;
    text-decoration: none;
  }

  &.isActive {
    background: white;
  }
}

@media (max-width: 768px) {
  :local(.container) {
    grid-template-columns: 100%;
    grid-template-areas:
      "main"
      "nav"
  }
}
