:local(.header) {
  align-items: center;
  background: #333;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: MoonLight, sans-serif;
  height: 30px;
  justify-content: space-between;
  letter-spacing: 3px;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 1;

  a {
    color: #fff;

    &:visited {
      color: #fff;
    }
  }
}

:local(.siteName) {
  font-family: MoonRegular, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

:local(.content) {
  padding: 30px 5px;
}
