@import './reset';

@font-face {
  font-family: MoonRegular;
  src: url('/static/fonts/moon/Moon2.0-Regular.otf') format('opentype');
}

@font-face {
  font-family: MoonBold;
  src: url('/static/fonts/moon/Moon2.0-Bold.otf') format('opentype');
}

@font-face {
  font-family: MoonLight;
  src: url('/static/fonts/moon/Moon2.0-Light.otf') format('opentype');
}

@font-face {
  font-family: LoraCyrillicRegular;
  src: url('/static/fonts/lora-cyrillic/Lora-Regular.otf') format('opentype');
}
